In [1]:
#importing libraries
import pandas as pd
from getpass import getpass
from dotenv import load_dotenv
import sqlalchemy as alch
import os
import datetime
import numpy as np
import re
import lxml
import html5lib
import os
import json 
import random
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Connecting to SQL

In [2]:

load_dotenv()
password = os.getenv('sql_password')
dbName = "mood"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [3]:
#Checking if the table is empty
mood = pd.read_sql_query('SELECT * from entries', engine)
mood

Empty DataFrame
Columns: [date, text, scale, sentiment]
Index: []

# Creating Random Mood Data

In [4]:
# Generating dates between january 2022 and december 2022
start = datetime.datetime.strptime("2022-01-01", "%Y-%m-%d")
end = datetime.datetime.strptime("2022-12-2", "%Y-%m-%d")
date_generated = pd.date_range(start, end)
print(date_generated.strftime("%Y-%m-%d"))

Index(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05',
       '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
       ...
       '2022-11-23', '2022-11-24', '2022-11-25', '2022-11-26', '2022-11-27',
       '2022-11-28', '2022-11-29', '2022-11-30', '2022-12-01', '2022-12-02'],
      dtype='object', length=336)

In [5]:
len(date_generated)

336

In [6]:
# Getting moods from text file from kaggle
with open('data/random_mood.txt') as f:
    lines = f.readlines()

In [7]:
len(lines)

2000

In [8]:
lines = random.sample(lines, 336)

In [9]:
textmood = [line.replace('\n', '').split(';')[0] for line in lines]
textmood[:5]

['i feel like im still quite bad at describing my feelings with good words and beautiful phrases',
 'i feel like im being greedy asking for something so expensive',
 'i feel more energetic',
 'i feel so drained at the end of a novel because i try my very hardest to get something from it that will change and impact my life',
 'i have come to understand that feelings are neither positive nor negative']

In [10]:
#Sentiment analysis
sia = SentimentIntensityAnalyzer()

sentiments = []
for line in lines:
    mysentiment = sia.polarity_scores(line)
    mysentiment = list(mysentiment.values())[3]
    mysentiment = float(mysentiment)
    sentiments.append(mysentiment)

len(sentiments)

336

In [11]:
print(min(sentiments))
print(max(sentiments))

-0.9339
0.9667

In [12]:
# getting the scale for mood
scale_mood = []
for num in sentiments:
    if num <-0.8:
        n = 0
        scale_mood.append(n)
    elif num>=-0.8 and num<-0.6:
        n = 1
        scale_mood.append(n)
    elif num>=-0.6 and num<-0.4:
        n = 2
        scale_mood.append(n)
    elif num>=-0.4 and num<-0.2:
        n = 3
        scale_mood.append(n)
    if num>=-0.2 and num<0:
        n = 4
        scale_mood.append(n)
    elif num == 0:
        n = 5
        scale_mood.append(n)
    elif num>0 and num<0.2:
        n = 6
        scale_mood.append(n)
    elif num>=0.2 and num<0.4:
        n = 7
        scale_mood.append(n)
    elif num>=0.4 and num<0.6:
        n = 8
        scale_mood.append(n)
    elif num>=0.6 and num<0.8:
        n = 9
        scale_mood.append(n)
    elif num >= 0.8:
        n = 10
        scale_mood.append(n)

scale_mood[:5]

[9, 6, 5, 4, 2]

In [13]:
len(scale_mood)

336

In [14]:
# Creating the dataframe
dictionary = {
    'date': date_generated, 
    'text': textmood, 
    'scale_mood': scale_mood,
    'sentiment': sentiments
    }
df_mood = pd.DataFrame(dictionary)

In [15]:
df_mood

,date,text,scale_mood,sentiment
0,2022-01-01,i feel like im still quite bad at describing m...,9,0.6712
1,2022-01-02,i feel like im being greedy asking for somethi...,6,0.0516
2,2022-01-03,i feel more energetic,5,0.0000
3,2022-01-04,i feel so drained at the end of a novel becaus...,4,-0.1263
4,2022-01-05,i have come to understand that feelings are ne...,2,-0.4449
...,...,...,...,...
331,2022-11-28,i feel special a href http facsimilogos,8,0.4019
332,2022-11-29,im looking upon the next year as an adventure ...,2,-0.5267
333,2022-11-30,i feel i am appreciative i take care of the ba...,8,0.4976
334,2022-12-01,i just can t feel accepted,5,0.0000
335,2022-12-02,i had told gerry yesterday that if i feel isol...,3,-0.3182

In [16]:
list(engine.execute("SELECT * FROM entries"))

[]

# Uploading data to SQL table

In [17]:
def checkentries(table, str1):
    
    if table == "entries":
        query = list(engine.execute(f"SELECT date FROM entries WHERE date = '{str1}';"))
        if len(query) > 0:
            return True
        else:
            return False


def insertentries(str1, str2, int1, float1):
    if checkentries("entries", str1):
        return "It already exists"
    else:
        engine.execute(f"INSERT INTO entries(date, text, scale, sentiment) VALUE('{str1}', '{str2}', '{int1}', '{float1}') ;")

In [18]:
for index, row in df_mood.iterrows():
    try:
        insertentries(row["date"], row["text"], row["scale_mood"], row["sentiment"])
    except (ValueError, TypeError):
        pass

# Getting data from SQL

In [19]:
mood = pd.read_sql_query('SELECT * from entries', engine)
mood.head()

,date,text,scale,sentiment
0,2022-01-01 00:00:00,i feel like im still quite bad at describing m...,9,0.6712
1,2022-01-02 00:00:00,i feel like im being greedy asking for somethi...,6,0.0516
2,2022-01-03 00:00:00,i feel more energetic,5,0.0000
3,2022-01-04 00:00:00,i feel so drained at the end of a novel becaus...,4,-0.1263
4,2022-01-05 00:00:00,i have come to understand that feelings are ne...,2,-0.4449